 <!--  footer start -->

 <footer>

     <!-- footer container 1 starts -->

     <div id="top1">
         <div id="cont-1">
             <div>
                 <div class="IconText">
                     <img src="/image/mail.png" class="poster_size" alt="" />
                     GET SPECIAL DISCOUNT ON YOUR INBOX
                 </div>
                 <form class="feedback" action="">
                     <input class="input" placeholder="Your Email" type="email" />

                     <button class="send-btn">SEND</button>
                 </form>
             </div>

             <div>
                 <div class="IconText">
                     <img src="/image/mobile-phone.png" class="poster_size" alt="" />
                     EXPERIENCE THE NYKAA MOBILE APP
                 </div>
                 <div class="appStore">
                     <div>
                         <div>
                             <img src="/image/play.png" style="width: 2rem; height: 2rem" alt="" />
                         </div>
                         <div>
                             <span class="mini-text">GET IT ON </span>
                             <br />
                             <span class="big-text"> Google Play</span>
                         </div>
                     </div>

                     <div>
                         <div>
                             <img src="/image/apple-64.png" style="width: 2rem; height: 2rem" alt="" />
                         </div>
                         <div>
                             <span class="mini-text">Download on the </span>
                             <br />
                             <span class="big-text">App Store</span>
                         </div>
                     </div>
                 </div>
             </div>

             <div class="IconText">
                 <div>
                     <img src="/image/phone-32.png " style="width: 70%" alt="" />
                 </div>
                 <div>
                     <div>
                         FOR ANY HELP YOU MAY CALL US AT <br />
                         1800-267-4444
                     </div>
                     <div>
                         (Monday to Saturday, 8AM to 10PM and Sunday, 10AM to 7PM)
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- footer container 1 end -->




     <!-- footer container 2 starts -->
     <div id="top2">
         <div id="cont-2">
             <div class="links">
                 <ul>
                     <li>
                         <img src="/image/nyka_logo.png" style="width: 50%" alt="" />
                     </li>
                     <li><a href="#">WHO ARE WE?</a></li>
                     <li><a href="">CAREERS</a></li>
                     <li><a href="">AUTHENTICITY</a></li>
                     <li><a href="">PRESS</a></li>
                     <li><a href="">TESTIMONIALS</a></li>
                     <li><a href="">NYKAA CSR</a></li>
                     <li><a href="">RESPONSIBLE DISCLOSURE</a></li>
                     <li><a href="">INVESTOR RELATIONS</a></li>
                 </ul>
             </div>
             <div class="links">
                 <ul>
                     <li><a href="#">HELP</a></li>
                     <li><a href="">CONTACT US</a></li>
                     <li><a href="">FREQUENTLY ASKED QUESTIONS</a></li>
                     <li><a href="">STORE LOCATOR</a></li>
                     <li><a href="">CANCELLATION & RETURN</a></li>
                     <li><a href="">SELL ON NYKAA</a></li>
                 </ul>
             </div>
             <div class="links">
                 <ul>
                     <li><a href="#">INSPIRE ME</a></li>
                     <li><a href="">BEAUTY BOOK</a></li>
                     <li><a href="">NYKAA TV</a></li>
                     <li><a href="">NYKAA NETWORK</a></li>
                     <li><a href="">BUYING GUIDES</a></li>
                 </ul>
             </div>
             <div class="links">
                 <ul>
                     <li><a href="#">QUICK LINKS</a></li>
                     <li><a href="">OFFER ZONE</a></li>
                     <li><a href="">NEW LAUNCHES</a></li>
                     <li><a href="">NYKAA MAN</a></li>
                     <li><a href="">NYKAA FASHION</a></li>
                     <li><a href="">NYKAA FEMINA BEAUTY AWARDS WINNERS 2019</a></li>
                     <li><a href="">SITEMAP </a></li>
                 </ul>
             </div>
             <div class="links">
                 <ul>
                     <li><a href="#">TOP CATEGORIES</a></li>
                     <li><a href="">MAKEUP</a></li>
                     <li><a href="">SKIN</a></li>
                     <li><a href="">HAIR</a></li>
                     <li><a href="">PERSONAL CARE</a></li>
                     <li><a href="">APPLIANCES</a></li>
                     <li><a href="">MOM AND BABY</a></li>
                     <li><a href="">WELLNESS</a></li>
                     <li><a href="">FRAGRANCE</a></li>
                     <li><a href="">NATURAL</a></li>
                     <li><a href="">LUXE</a></li>
                 </ul>
             </div>
         </div>
     </div>
     <!-- footer container 2 end -->


     <!-- footer container 3 starts -->

     <div id="top3">
         <div id="cont-3">
             <div class="cont3_divs">
                 <div class="icon">
                     <img src=" https://adn-static2.nykaa.com/media/wysiwyg/2020/9sep/BrandsCount.svg" alt="" />
                 </div>
                 <div class="content">
                     <div>2400 BRANDS</div>
                     <div>Well Curated 1.9Lakh+ Product</div>
                 </div>
             </div>
             <div class="cont3_divs">
                 <div class="icon">
                     <img src="	https://adn-static2.nykaa.com/media/wysiwyg/2020/9sep/FreeShipping.svg" alt="" />
                 </div>
                 <div class="content">
                     <div>FREE SHIPPING</div>
                     <div>for orders above INR500</div>
                 </div>
             </div>
             <div class="cont3_divs">
                 <div class="icon">
                     <img src="https://adn-static2.nykaa.com/media/wysiwyg/2020/9sep/GenuineProducts.svg" alt="" />
                 </div>
                 <div class="content">
                     <div>GENUINE PRODUCT</div>
                     <div>sourced directly from brands</div>
                 </div>
             </div>
             <div class="cont3_last_div">
                 <div>SHOW SOME LOVE 🖤 FOR SOCIAL MEDIA</div>
                 <div class="last-icons">
                     <img src="	https://images-static.naikaa.com/media/wysiwyg/2021/icons/ic_social-instagram-filled.svg"
                         alt="" />
                     <img src="https://images-static.naikaa.com/media/wysiwyg/2021/icons/ic_social-facebook-filled.svg"
                         alt="" />
                     <img src="https://images-static.naikaa.com/media/wysiwyg/2021/icons/ic_social-youtube-filled.svg"
                         alt="" />
                     <img src="	https://images-static.naikaa.com/media/wysiwyg/2021/icons/ic_social-twitter-filled.svg"
                         alt="" />
                     <img src="https://images-static.naikaa.com/media/wysiwyg/2021/icons/ic_social-pinterest-filled.svg"
                         alt="" />
                 </div>
             </div>
         </div>
     </div>

     <!-- footer container 3 end -->

     <!-- footer container 4 starts -->

     <div id="cont-4">
         <div class="c-4-links">
             <a href="">TERMS AND CONDITIONS</a>
             <a href="">SHIPPING POLICY</a>
             <a href="">CANCELATION POLICY</a>
             <a href="">PRIVACY POLICY</a>
         </div>

         <div>
             <p>©2021 Nykaa E-Retail Pvt Ltd. All Rights Reserved.</p>
         </div>

 </footer>