<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs", {title: "Nykaa"}) %>

  <link rel="icon" href="image/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="styles/header.css" />

  <link rel="stylesheet" href="/styles/slider_style.css">
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/navbarbrand.css" />
  <link rel="stylesheet" href="/styles/Hower_content.css" />


 

</head>

<body>
<!-- header -->

 <%- include("./partials/header.ejs") %>

<!-- header -->

  <!-- content start -->
  <!--image slider start here -->
  <div class="slider">
    <div class="slides">
      <!--radio btn start here -->
      <input type="radio" name="radio-btn" id="radio1" />
      <input type="radio" name="radio-btn" id="radio2" />
      <input type="radio" name="radio-btn" id="radio3" />
      <input type="radio" name="radio-btn" id="radio4" />
      <input type="radio" name="radio-btn" id="radio5" />
      <input type="radio" name="radio-btn" id="radio6" />
      <!--radio btn end here -->

      <!--slide img start here -->
      <div class="slide first">
        <img src="/image/img1.jpg" alt="" />
      </div>

      <div class="slide">
        <img src="/image/img2.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/image/lipstip.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/image/img4.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/image/img5.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="/image/img6.jpg" alt="" />
      </div>
      <!--slide img end here -->

      <!--Automatic navigation start here -->
      <div class="navigation_auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
        <div class="auto-btn5"></div>
        <div class="auto-btn6"></div>
      </div>
      <!--Automatic navigation end here -->
    </div>

    <!--manual navigation start here -->
    <div class="manual-navigation">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
      <label for="radio4" class="manual-btn"></label>
      <label for="radio5" class="manual-btn"></label>
      <label for="radio6" class="manual-btn"></label>
    </div>
    <!--manual navigation end here -->
  </div>
  <!--image slider end here -->

  <!--Natural Sale Image added below -->
  <div class="horz_sale">
    <div>
      <img src="/image/nat_sale.jpg" />
    </div>
  </div>
  <!--Natural Sale Image added above -->

  <!--IN THE SPOTLIGHT  added below -->
  <div id="spot_cont">
    <div id="spot_box">
      <p class="p_size">IN THE SPOTLIGHT</p>
      <div id="spot_sel">
        <div class="spot_item1 spot_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spot_off">
            <p class="p_style">Upto 15% OFF</p>
            <p>+ Free 10% Vitamin C Face Serum Worth Rs.349 On Rs.499</p>
          </div>
        </div>
        <div class="spot_item2 spot_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">Upto 30% OFF</p>
            <p>On select styles</p>
          </div>
        </div>
        <div class="spot_item3 spot_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style"></p>
            <p>High Performance Skincare</p>
          </div>
        </div>
        <div class="spot_item4 spot_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">
              Complimentary Big Date Blush On Rs.1500 +
            </p>
            <p>Buy 2 Get Extra 15% OFF | Buy 3 Get Extra 20% OFF</p>
          </div>
        </div>
        <div class="spot_item5 spot_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">
              Free Hair Styling Spray Worth Rs.575 On Rs.1299+
            </p>
            <p>Upto 10% OFF On Regimes</p>
          </div>
        </div>
        <div class="spot_item6 spot_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">
              Free 3D Face Massager On Orders Worth 699+
            </p>
            <p>Flat 15% OFF On Combos</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--IN THE SPOTLIGHT  added above -->

  <!--Beauty Bonanza  added below -->
  <div class="horz_sale B_bonanza">
    <div>
      <img src="/image/beauty_bonanza.jpg" />
    </div>
  </div>
  <!--Beauty Bonanza  added above -->

  <!--SPECIAL SELECTION FOR YOU  added below -->
  <div id="spc_cont">
    <div id="spc_box">
      <p class="p_size">SPECIAL SELECTION FOR YOU</p>
      <div id="spcial_sel">
        <div class="spc_item1 spc_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">Upto 30% OFF +</p>
            <p>Free Sleeping Mask On Rs.800</p>
          </div>
        </div>
        <div class="spc_item2 spc_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">
              Pick A 10ml On Rs.1500
            </p>
            <p>+ 10ml Tonic On Rs.2250</p>
          </div>
        </div>
        <div class="spc_item3 spc_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">
              Complimentary Big Date Blush On Rs.1500 +
            </p>
            <p>Best-Selling Highlighter On Rs.2000!</p>
          </div>
        </div>
        <div class="spc_item4 spc_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">
              Upto 55% OFF On All New Collections
            </p>
            <p>Buy 2 Get Extra 15% OFF | Buy 3 Get Extra 20% OFF</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- script for Automatic sliding -->

  <script type="text/javascript" src="/script/slider_baner.js"></script>
  <script src="/script/homelogin.js"></script>

  <!--SPECIAL SELECTION FOR YOU  added above -->

  <!--CATEGORY IN FOCUS img added below -->
  <div class="horz_sale">
    <p class="p_size">CATEGORY IN FOCUS</p>
    <div>
      <img src="/image/cat_in_focus.jpg" />
    </div>
  </div>
  <!--CATEGORY IN FOCUS img added above -->

  <!--DISCOVER NOW added below -->
  <div id="discover_cont">
    <div id="discover_box">
      <p class="p_size">DISCOVER NOW</p>
      <div id="discover_sel">
        <div class="discover_item1 discover_shodow">
          <!-- img used here as bg-image in css -->
        </div>
        <div class="discover_item2 discover_shodow">
          <!-- img used here as bg-image in css -->
        </div>
        <div class="discover_item3 discover_shodow">
          <!-- img used here as bg-image in css -->
        </div>
        <div class="discover_item4 discover_shodow">
          <!-- img used here as bg-image in css -->
        </div>
      </div>
    </div>
  </div>

  <!--DISCOVER NOW added above -->

  <!-- content end -->

  <!--  footer start -->

  <footer>

    <!-- footer container 1 starts -->

    <div id="top1">
      <div id="cont-1">
        <div>
          <div class="IconText">
            <img src="/image/mail.png" class="poster_size" alt="" />
            GET SPECIAL DISCOUNT ON YOUR INBOX
          </div>
          <form class="feedback" action="">
            <input class="input" placeholder="Your Email" type="email" />

            <button class="send-btn">SEND</button>
          </form>
        </div>

        <div>
          <div class="IconText">
            <img src="/image/mobile-phone.png" class="poster_size" alt="" />
            EXPERIENCE THE NYKAA MOBILE APP
          </div>
          <div class="appStore">
            <div>
              <div>
                <img src="/image/play.png" style="width: 2rem; height: 2rem" alt="" />
              </div>
              <div>
                <span class="mini-text">GET IT ON </span>
                <br />
                <span class="big-text"> Google Play</span>
              </div>
            </div>

            <div>
              <div>
                <img src="/image/apple-64.png" style="width: 2rem; height: 2rem" alt="" />
              </div>
              <div>
                <span class="mini-text">Download on the </span>
                <br />
                <span class="big-text">App Store</span>
              </div>
            </div>
          </div>
        </div>

        <div class="IconText">
          <div>
            <img src="/image/phone-32.png " style="width: 70%" alt="" />
          </div>
          <div>
            <div>
              FOR ANY HELP YOU MAY CALL US AT <br />
              1800-267-4444
            </div>
            <div>
              (Monday to Saturday, 8AM to 10PM and Sunday, 10AM to 7PM)
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer container 1 end -->




    <!-- footer container 2 starts -->
    <div id="top2">
      <div id="cont-2">
        <div class="links">
          <ul>
            <li>
              <img src="/image/nyka_logo.png" style="width: 50%" alt="" />
            </li>
            <li><a href="#">WHO ARE WE?</a></li>
            <li><a href="">CAREERS</a></li>
            <li><a href="">AUTHENTICITY</a></li>
            <li><a href="">PRESS</a></li>
            <li><a href="">TESTIMONIALS</a></li>
            <li><a href="">NYKAA CSR</a></li>
            <li><a href="">RESPONSIBLE DISCLOSURE</a></li>
            <li><a href="">INVESTOR RELATIONS</a></li>
          </ul>
        </div>
        <div class="links">
          <ul>
            <li><a href="#">HELP</a></li>
            <li><a href="">CONTACT US</a></li>
            <li><a href="">FREQUENTLY ASKED QUESTIONS</a></li>
            <li><a href="">STORE LOCATOR</a></li>
            <li><a href="">CANCELLATION & RETURN</a></li>
            <li><a href="">SELL ON NYKAA</a></li>
          </ul>
        </div>
        <div class="links">
          <ul>
            <li><a href="#">INSPIRE ME</a></li>
            <li><a href="">BEAUTY BOOK</a></li>
            <li><a href="">NYKAA TV</a></li>
            <li><a href="">NYKAA NETWORK</a></li>
            <li><a href="">BUYING GUIDES</a></li>
          </ul>
        </div>
        <div class="links">
          <ul>
            <li><a href="#">QUICK LINKS</a></li>
            <li><a href="">OFFER ZONE</a></li>
            <li><a href="">NEW LAUNCHES</a></li>
            <li><a href="">NYKAA MAN</a></li>
            <li><a href="">NYKAA FASHION</a></li>
            <li><a href="">NYKAA FEMINA BEAUTY AWARDS WINNERS 2019</a></li>
            <li><a href="">SITEMAP </a></li>
          </ul>
        </div>
        <div class="links">
          <ul>
            <li><a href="#">TOP CATEGORIES</a></li>
            <li><a href="">MAKEUP</a></li>
            <li><a href="">SKIN</a></li>
            <li><a href="">HAIR</a></li>
            <li><a href="">PERSONAL CARE</a></li>
            <li><a href="">APPLIANCES</a></li>
            <li><a href="">MOM AND BABY</a></li>
            <li><a href="">WELLNESS</a></li>
            <li><a href="">FRAGRANCE</a></li>
            <li><a href="">NATURAL</a></li>
            <li><a href="">LUXE</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- footer container 2 end -->


    <!-- footer container 3 starts -->

    <div id="top3">
      <div id="cont-3">
        <div class="cont3_divs">
          <div class="icon">
            <img src=" https://adn-static2.nykaa.com/media/wysiwyg/2020/9sep/BrandsCount.svg" alt="" />
          </div>
          <div class="content">
            <div>2400 BRANDS</div>
            <div>Well Curated 1.9Lakh+ Product</div>
          </div>
        </div>
        <div class="cont3_divs">
          <div class="icon">
            <img src="	https://adn-static2.nykaa.com/media/wysiwyg/2020/9sep/FreeShipping.svg" alt="" />
          </div>
          <div class="content">
            <div>FREE SHIPPING</div>
            <div>for orders above INR500</div>
          </div>
        </div>
        <div class="cont3_divs">
          <div class="icon">
            <img src="https://adn-static2.nykaa.com/media/wysiwyg/2020/9sep/GenuineProducts.svg" alt="" />
          </div>
          <div class="content">
            <div>GENUINE PRODUCT</div>
            <div>sourced directly from brands</div>
          </div>
        </div>
        <div class="cont3_last_div">
          <div>SHOW SOME LOVE 🖤 FOR SOCIAL MEDIA</div>
          <div class="last-icons">
            <img src="	https://images-static.naikaa.com/media/wysiwyg/2021/icons/ic_social-instagram-filled.svg"
              alt="" />
            <img src="https://images-static.naikaa.com/media/wysiwyg/2021/icons/ic_social-facebook-filled.svg" alt="" />
            <img src="https://images-static.naikaa.com/media/wysiwyg/2021/icons/ic_social-youtube-filled.svg" alt="" />
            <img src="	https://images-static.naikaa.com/media/wysiwyg/2021/icons/ic_social-twitter-filled.svg" alt="" />
            <img src="https://images-static.naikaa.com/media/wysiwyg/2021/icons/ic_social-pinterest-filled.svg"
              alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- footer container 3 end -->

    <!-- footer container 4 starts -->

    <div id="cont-4">
      <div class="c-4-links">
        <a href="">TERMS AND CONDITIONS</a>
        <a href="">SHIPPING POLICY</a>
        <a href="">CANCELATION POLICY</a>
        <a href="">PRIVACY POLICY</a>
      </div>

      <div>
        <p>©2021 Nykaa E-Retail Pvt Ltd. All Rights Reserved.</p>
      </div>

  </footer>