<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <!-- <link rel="icon" href="image/favicon.ico" /> -->
    <link rel="stylesheet" href="/styles/login1.css">
</head>

<body>
    <div class="loginbox">
        <section class="sectn">
            <header class="heading">
                <button class="closebtn" type="button"></button>CREATE ACCOUNT
            </header>
            <div class="content">

                <span class="already_account">
                    <h4>Already have an account? <a href="/users/signin">Sign in</a> </h4>
                </span>

                <form action="/users/post" method="POST" id="form">

                    <div class="signup_f_name_l_name">
                        <input placeholder="First Name" name="first_name" type="text" class="input text">

                        <input placeholder="Last Name" name="last_name" type="text" class="input text">
                    </div>

                    <div class="signup_mobile_gender">
                        <input placeholder="Mobile" name="mobile" type="number" class="input text">

                        <input placeholder="Gender" name="gender" type="text" class="input text">
                    </div>



                    <input placeholder="Email" name="email" type="email" class="input text">

                    <input placeholder="Password" name="password" type="password" class="input text">


                    <button class="btnclick" id="loginbtn">Create Account</button>

                </form>
            </div>
        </section>
    </div>
    <!-- <script src="/script/login1.js"></script> -->
</body>

</html>
