<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nykaa</title>
    <link rel="icon" href="image/favicon.ico" />
    <link rel="stylesheet" href="/styles/login2.css">
</head>

<body>
    <div class="loginbox">
        <div class="container">
            <section class="content">
                <header class="heading">
                    <h3>LOGIN</h3>
                </header>

               
                    <form class="fillpart" id="form" action="/users/signin/status" method="GET">

                        <input type="email" class="inputelem" placeholder="Enter your registered email" name="name">
                    
                        <input type="password" class="inputelem" placeholder="Enter your password" name="email">
                
                        <button type="submit" class="btn" id="save">Sign in </button>
               
                    </form>

            </section>
        </div>
    </div>
    <!-- <script src="/script/login2.js"></script> -->
</body>


</html>