<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Nykaa</title>
  <link rel="icon" href="image/favicon.ico" />
    <link rel="stylesheet" href="styles/address.css">
</head>

<body>
    <div>
        <div class="topdiv">
            <div class="container">
                <div class="threepart">
                    <div class="logopart">
                        <div class="line">
                            <img src="image/nykalogo.jpg" alt="logo" style="width: 100px; height: 30;">
                        </div>
                    </div>
                    <div class="addresssec">
                        <div class="divs">
                            <ul class="logadpay">
                                <li class="item">
                                    <h3>1 - LOGIN</h3>
                                    <p id="useremail"></p>
                                    <div class="log">

                                    </div>
                                </li>
                                <li class="item ">
                                    <div class="log">
                                        <h3>2 - ADDRESS</h3>
                                        <p id="useremail"></p>
                                    </div>
                                </li>
                                <li class="item ">
                                    <div class="log">
                                        <h3>3 - PAYMENT</h3>
                                        <p id="useremail"></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container middiv">
            <div class="coivdrow">
                <div class="covidmsg">
                    <p>Due to COVID, delivery may take longer than usual</p>
                </div>
            </div>
            <div class="threerow">
                <div class="newadd">
                    <div class="newaddtext">
                        <p>New Address</p>
                    </div>
                </div>
                <div class="addcontent">
                    <div class="savedaddress">
                        <div class="innerbox">
                            <div class="inerbxheading">New Address</div>
                            <form id="form">
                                <div>
                                    <div class="country">
                                        <div class="inptbx">
                                            <label>Select Country</label>
                                            <input class="inputsamestyle" type="text" value="India">
                                        </div>
                                    </div>
                                    <div class="inptbx namefield">
                                        <div class="namebx">
                                            <input class="inputsamestyle" name="name" type="text" name="name" id="username"
                                                placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="number">
                                        <div>+91</div>
                                        <div>
                                            <div>
                                                <input type="number" name="number" placeholder="Phone Number" class="inputsamestyle">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pincode">
                                        <div>
                                            <input type="number" name="pincode" placeholder="Postal Code" class="inputsamestyle">
                                        </div>
                                    </div>
                                    <div class="adrressbox">
                                        <fieldset class="addressfield">
                                            <legend class="title">Address</legend>
                                            <textarea class="textarea" rows="3" id="adressbox"></textarea>
                                        </fieldset>
                                        <div class="error">This field is required</div>
                                    </div>
                                    <div></div>
                                    <div class="checkdiv">
                                        <label class="checkbox">
                                            <input type="checkbox" value="on">
                                            Use this as my default Shipping Address
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn" id="btnconfirm">
                                    SHIPPING TO THIS ADDRESS
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="rightmostbox">
                    <div class="shadow">
                        <div class="righthead">1 Items in your Bag Edit</div>
                    </div>
                    <div class="paymentdetails">
                        <div class="cartpaymentdetails">
                            <div class="tbl">
                                <div class="name">Sub Total</div>
                                <div class="value">
                                    <span id="totalamount">1049</span>
                                </div>
                            </div>
                            <div class="tbl">
                                <div class="name">Shipping Charge</div>
                                <div class="value green"><span>Free</span></div>
                            </div>
                            <div class="tbl">
                                <div class="name green">Discount</div>
                                <div class="value green">
                                    - ₹<span>0</span>
                                </div>
                            </div>
                            <div class="tbl">
                                <div class="name">Use Reward Points (2000)</div>
                                <div class="value"><button type="button" class="applybtn">APPLY</button>
                                </div>
                            </div>
                        </div>
                        <div class="tbl total">
                            <div class="name">Grand Total</div>
                            <div class="value">
                                <span id="gtotal">1049</span>
                            </div>
                        </div>
                        <div class="payment-details-tbl prl20 payment-reward-row"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lastdiv"></div>
    </div>
    <script src="script/address.js"></script>
    <script src="script/address1.js"></script>
</body>

</html>