<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="Hower_content.css"/>
</head>
<body>
    <div id="Hower_main_Box">
        <div class="Hower_Box ">
            
                            <div class="box-h">Brand Name</div>
                             <div class="box-left">Aadvia</div>
                            <div class="box-1">Ceriz</div>
                            <div class="box-1">Maaikid</div>
                            <div class="box-1">MAASHIE</div>
                            <div class="box-1">Macadamia</div>
                            <div class="box-1">Made4Baby</div>
                            <div class="box-1">Fog</div>
                            <div class="box-1">Garnier</div>
                            <div class="box-1">mackly</div>
                            <div class="box-1">Magic Dust</div>
                            <div class="box-1">Macmerise</div>
                            <div class="box-1">Machismo</div>
                            <div class="box-1">Majestic Perfume</div>
                            <div class="box-1">Made4Kids</div>
                            <div class="box-1">Carefree</div>
                            <div class="box-1">Callesta</div>
                            <div class="box-1">Candyskin</div>
        </div>
        <div class="Hower_Box Odd">
            
                            <div class="box-h">Brand Name</div>
                             <div class="box-1">Nivea</div>
                            <div class="box-2">fog</div>
                            <div class="box-2">Life-boy</div>
                            <div class="box-2">lorial</div>
                            <div class="box-2">Macadamia</div>
                            <div class="box-2">Made4Baby</div>
                            <div class="box-2">Fog</div>
                            <div class="box-2">Garnier</div>
                          
        </div>
        <div class="Hower_Box ">
            
             <div class="box-h">Brand Name</div>
              <div class="box-2">Garnier</div>
                            <div class="box-3">mackly</div>
                            <div class="box-3">Magic Dust</div>
                            <div class="box-3">Macmerise</div>
                            <div class="box-3">Machismo</div>
                            <div class="box-3">Majestic Perfume</div>
                            <div class="box-3">Made4Kids</div>
                            <div class="box-3">Carefree</div>
                            <div class="box-3">Callesta</div>
                            <div class="box-3">Candyskin</div>
                            <div class="box-3">fog</div>
                            <div class="box-3">Life-boy</div>
                            <div class="box-3">lorial</div>
                            <div class="box-3">Macadamia</div>
                            <div class="box-3">Made4Baby</div>
                            <div class="box-3">Fog</div>
                           
        </div>
        <div class="Hower_Box Odd">
            
             <div class="box-h">Brand Name</div>
              <div class="box-3">Majestic Perfume</div>
                            <div class="box-4">Made4Kids</div>
                            <div class="box-4">Carefree</div>
                            <div class="box-4">Callesta</div>
                            <div class="box-4">Candyskin</div>
                            <div class="box-4">fog</div>
                            <div class="box-4">Life-boy</div>
                            <div class="box-4">lorial</div>
                            <div class="box-4">Macadamia</div>
                            <div class="box-4">Made4Baby</div>
                            <div class="box-4">Fog</div>
                            <div class="box-4">mackly</div>
                            <div class="box-4">Magic Dust</div>
                            <div class="box-4">Macmerise</div>
                            <div class="box-4">Machismo</div>
                            <div class="box-4">Majestic Perfume</div>
        </div>
        <div class="Hower_Box ">
            <div class="box-h">Brand Name</div>
                            <div class="box-5">Macadamia</div>
                            <div class="box-5">Made4Baby</div>
                            <div class="box-5">Fog</div>
                            <div class="box-5">mackly</div>
                            <div class="box-5">Magic Dust</div>
                            <div class="box-5">Macmerise</div>
                            <div class="box-5">Machismo</div>
                            <div class="box-5">Majestic Perfume</div>
        </div>
        <div class="Hower_Box Odd">
            <div class="box-h">Brand Name</div>
                            <div class="box-6">Macadamia</div>
                            <div class="box-6">Garnier</div>
                            <div class="box-6">mackly</div>
                            <div class="box-6">Magic Dust</div>
                            <div class="box-6">Macmerise</div>
                            <div class="box-6">Machismo</div>
                            <div class="box-6">Majestic Perfume</div>
                            <div class="box-6">Made4Baby</div>
                            <div class="box-6">Fog</div>
                            <div class="box-6">mackly</div>
                            <div class="box-6">Magic Dust</div>
                            <div class="box-6">Macmerise</div>
                            <div class="box-6">Machismo</div>
                            <div class="box-6">Majestic Perfume</div>
        </div>
        <div class="Hower_Box ">
<div class="box-h">Brand Name</div>
                            <div class="box-7">fog</div>
                            <div class="box-7">Life-boy</div>
                            <div class="box-7">lorial</div>
                            <div class="box-7">Macadamia</div>
                            <div class="box-7">Made4Baby</div>
                            <div class="box-7">Fog</div>
                            <div class="box-7">Garnier</div>
                            <div class="box-7">mackly</div>
                            <div class="box-7">Magic Dust</div>
                            <div class="box-7">Macmerise</div>
                            <div class="box-7">Machismo</div>
                            <div class="box-7">Majestic Perfume</div>
                            <div class="box-7">Made4Kids</div>
                            <div class="box-7">Carefree</div>
                            <div class="box-7">Callesta</div>
                            <div class="box-7">Candyskin</div>
        </div>
    </div>
</body>
</html>