<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nykaa</title>
  <link rel="icon" href="image/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="styles/header.css" />
  <!-- <link rel="stylesheet" type="text/css" href="styles/slider_style.css" /> -->
  <link rel="stylesheet" href="styles/slider_style.css">
  <link rel="stylesheet" href="styles/footer.css" />
  <link rel="stylesheet" href="styles/navbarbrand.css" />
  <link rel="stylesheet" href="styles/Hower_content.css" />


 

</head>

<body>
  <!-- header section starts here -->
  <div class="main_body">
    <header class="headsty">
      <div id="header1" class="headr1">
        <!-- top header part -->
        <div id="offer_banner" class="offban">
          <div id="offer_banner" class="home_top_menu top_str_bg">
            <div id="top_strip">
              <div class="leftdiv">
                <div class="left_msg">
                  <a href="https://www.nykaa.com/offers.html?intcmp=hdr,top_strip,1,nykaa-independence-sale"
                    target="_blank">BEAUTY BONANZA Get Your Daily Dose of Amazing Deals</a>
                </div>
              </div>

              <div class="rightdiv">
                <ul>
                  <li>
                    <a href="https://www.nykaa.com/installApp" target="_blank">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <title>mobile icon</title>
                        <g opacity=".92" fill="#000">
                          <path
                            d="M17.25 3.5v17H6.75v-17h10.5zm.5-1.5H6.25a1 1 0 00-1 1v18a1 1 0 001 1h11.5a1 1 0 001-1V3a1 1 0 00-1-1z">
                          </path>
                          <path d="M13 6h-2a.75.75 0 110-1.5h2A.75.75 0 1113 6zM12 19.48a1 1 0 100-2 1 1 0 000 2z">
                          </path>
                        </g>
                      </svg>
                      <span class="txt">Get App</span></a>
                  </li>
                  <li>
                    <a href="https://www.nykaa.com/stores-n-events-desktop" target="_blank">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <title>address icon</title>
                        <g opacity=".92" fill="#000">
                          <path
                            d="M12 8a2.01 2.01 0 110 4 2.01 2.01 0 110-4zm0-1.5a4 4 0 00-.68.06 3.5 3.5 0 00.68 6.93 3.5 3.5 0 000-7v.01z">
                          </path>
                          <path
                            d="M12 3.5a6.94 6.94 0 012.22.37 6.53 6.53 0 014.28 6.47 6.6 6.6 0 01-1.78 4.49L12 20.24l-4.7-5.38a6.94 6.94 0 01-1.8-4.65A6.62 6.62 0 0112 3.5zM12 2a8.09 8.09 0 00-8 8.21 8.42 8.42 0 002.15 5.61l5.1 5.83a1.001 1.001 0 001.5 0l5.1-5.83A8.05 8.05 0 0020 10.36a8 8 0 00-5.31-7.91A8.34 8.34 0 0012 2z">
                          </path>
                        </g>
                      </svg>
                      <span>Store & Events</span></a>
                  </li>
                  <li>
                    <a href="https://www.nykaa.com/giftcard/list">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <title>giftcard icon</title>
                        <g opacity=".92" fill="#000">
                          <path d="M16 15.6h2.2a.6.6 0 000-1.2H16a.6.6 0 000 1.2z"></path>
                          <path
                            d="M21 4.5H3a1 1 0 00-1 1v13a1 1 0 001 1h18a1 1 0 001-1v-13a1 1 0 00-1-1zM3.5 6h4.9v1.66a2.12 2.12 0 00-.69-.47 1.9 1.9 0 00-.39-.11 1.75 1.75 0 00-.4 0c-.258 0-.513.05-.75.15a2.12 2.12 0 00-.69.47 2.23 2.23 0 000 3c.078.077.166.144.26.2H3.5V6zM8 10.32a4.709 4.709 0 01-1.7-.45 1 1 0 010-1.38.86.86 0 01.61-.25.85.85 0 01.61.25A4.47 4.47 0 018 10.32zM8.4 18H3.5v-5.9H7l-1.42 1.38a.59.59 0 000 .85.6.6 0 00.84 0l2-2L8.4 18zm12.1 0H9.6v-5.65l2 2a.6.6 0 00.974-.656.59.59 0 00-.134-.194l-1.39-1.4h9.45V18zM10 10.32a5.16 5.16 0 01.46-1.83.85.85 0 01.61-.25.86.86 0 01.61.25 1 1 0 010 1.37 4.42 4.42 0 01-1.68.46zm10.48.58h-8.15a1.45 1.45 0 00.23-.19 2 2 0 00.26-.33 2.22 2.22 0 000-2.38 1.64 1.64 0 00-.26-.33 1.579 1.579 0 00-.32-.27 1.9 1.9 0 00-.37-.2 2.13 2.13 0 00-1.57 0 2.23 2.23 0 00-.69.47V6H20.5l-.02 4.9z">
                          </path>
                        </g>
                      </svg>
                      <span>Gift Card</span></a>
                  </li>
                  <li>
                    <a href="https://support.nykaa.com/">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <title>help icon</title>
                        <g opacity=".92" fill="#000">
                          <path
                            d="M12 4.5c4.1 0 7.5 3.4 7.5 7.5s-3.4 7.5-7.5 7.5-7.5-3.4-7.5-7.5S7.9 4.5 12 4.5zM12 3c-5 0-9 4-9 9s4 9 9 9 9-4 9-9-4-9-9-9z">
                          </path>
                          <path
                            d="M12 16.4a.8.8 0 100-1.6.8.8 0 000 1.6zM12 13.6c-.4 0-.7-.3-.8-.8v-1.4c0-.4.3-.8.8-.8.6 0 1.2-.5 1.2-1.1 0-.6-.5-1.2-1.1-1.2-.6 0-1.2.5-1.2 1.1 0 .4-.3.8-.8.8s-.7-.2-.7-.7c0-1.5 1.2-2.6 2.7-2.6 1.5 0 2.6 1.2 2.6 2.7 0 1.2-.8 2.2-1.9 2.5v.8c-.1.4-.4.7-.8.7z">
                          </path>
                        </g>
                      </svg>
                      <span>Help</span></a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <!-- top header ends here -->
        <div class="topnxt">
          <div class="tpn1">
            <div class="menu1 mn1">
              <div id="headrmenu" class="hdrmn">
                <a href="index.html"> <img src="image/nykalogo.jpg" alt="logo" class="des" /></a>
                <div class="menucatbrnd">
                  <ul class="headernav hdr">
                    <li>
                      <a id="category" class="catgry" href="index.html">CATEGORIES</a>
                    </li>
                  </ul>
                  <ul class="headernav hdr">
                    <li>
                      <a class="catgry" href="index.html">BRANDS</a>
                      <!--Nav Brands starts---------------------------------->
                      <div class="dropdwnadvice">

                        <div id="brand-main-contanar-box">
                          <div id="brand-main-left-box">
                            <input id="search-input" type="text" placeholder="Search Brand">
                            Top Brand
                            <div class="box-left">Aadvia</div>
                            <div class="box-left">Nivea</div>
                            <div class="box-left">Ceriz</div>
                            <div class="box-left">Maaikid</div>
                            <div class="box-left">MAASHIE</div>
                            <div class="box-left">Macadamia</div>
                            <div class="box-left">Made4Baby</div>
                            <div class="box-left">Fog</div>
                            <div class="box-left">Garnier</div>
                            <div class="box-left">mackly</div>
                            <div class="box-left">Magic Dust</div>
                            <div class="box-left">Macmerise</div>
                            <div class="box-left">Machismo</div>
                            <div class="box-left">Majestic Perfume</div>
                            <div class="box-left">Made4Kids</div>
                            <div class="box-left">Carefree</div>
                            <div class="box-left">Callesta</div>
                            <div class="box-left">Candyskin</div>
                            <div class="box-left">Campus</div>
                            <div class="box-left">Captain Zack</div>
                          </div>
                          <div id="brand-main-right-box">
                            <div class="box-right TEXT">POPULAR</div>
                            <div class="box-right TEXT">FEATURED</div>
                            <div class="box-right TEXT">ONLY NYKAA</div>
                            <div class="box-right TEXT">LAUNCHED</div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2019/Maybelline1211.png" alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/lakme_mega_menu_header.png" alt="">
                            </div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/For-Nykaa-Megamenu-New.png" alt="">
                            </div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/Header/mac.png" alt=""></div>
                            <!-- LORIAL-PARIS BRAND below-->
                            <div class="box-right  IMAGEICON" id="lorial-function">

                              <a href="Loreal_paris.html"><input name="image" type="image"
                                  src="https://adn-static2.nykaa.com/media/wysiwyg/2019/lorealparis.png"></a>

                            </div>

                            <!-- LORIAL-PARIS BRAND above-->
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2020/BrandslogoMenubar/Huda.png"
                                alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2018/Biotique_new.png" alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2019/NATURAL-LOGO.png" alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2018/Brandslogo/LOTUS-HERBALS.png"
                                alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2019/niveaa.png" alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2018/Brandslogo/FacesCanadaa.png"
                                alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2019/Maybelline1211.png" alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2020/BrandslogoMenubar/rsvp.png"
                                alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2019/Maybelline1211.png" alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2019/Maybelline1211.png" alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2018/Vaseline.png" alt=""></div>
                          </div>

                        </div>

                      </div>
                      <!--Nav Brands end-------------------------------------->
                    </li>
                  </ul>
                  <ul class="headernav hdr">
                    <li>
                      <a href="#">NYKAA FASHION</a>
                      <!--just testing it-->
                      <div class="dropdwnadvice">

                        <div id="Hower_main_Box">
                          <div class="Hower_Box ">

                            <div class="box-h">Brand Name</div>
                            <div class="box-1">Aadvia</div>
                            <div class="box-1">Ceriz</div>
                            <div class="box-1">Maaikid</div>
                            <div class="box-1">MAASHIE</div>
                            <div class="box-1">Macadamia</div>
                            <div class="box-1">Made4Baby</div>
                            <div class="box-1">Fog</div>
                            <div class="box-1">Garnier</div>
                            <div class="box-1">mackly</div>
                            <div class="box-1">Magic Dust</div>
                            <div class="box-1">Macmerise</div>
                            <div class="box-1">Machismo</div>
                            <div class="box-1">Majestic Perfume</div>
                            <div class="box-1">Made4Kids</div>
                            <div class="box-1">Carefree</div>
                            <div class="box-1">Callesta</div>
                            <div class="box-1">Candyskin</div>
                          </div>
                          <div class="Hower_Box Odd">

                            <div class="box-h">Brand Name</div>
                            <div class="box-1">Nivea</div>
                            <div class="box-2">fog</div>
                            <div class="box-2">Life-boy</div>
                            <div class="box-2">lorial</div>
                            <div class="box-2">Macadamia</div>
                            <div class="box-2">Made4Baby</div>
                            <div class="box-2">Fog</div>
                            <div class="box-2">Garnier</div>

                          </div>
                          <div class="Hower_Box ">

                            <div class="box-h">Brand Name</div>
                            <div class="box-2">Garnier</div>
                            <div class="box-3">mackly</div>
                            <div class="box-3">Magic Dust</div>
                            <div class="box-3">Macmerise</div>
                            <div class="box-3">Machismo</div>
                            <div class="box-3">Majestic Perfume</div>
                            <div class="box-3">Made4Kids</div>
                            <div class="box-3">Carefree</div>
                            <div class="box-3">Callesta</div>
                            <div class="box-3">Candyskin</div>
                            <div class="box-3">fog</div>
                            <div class="box-3">Life-boy</div>
                            <div class="box-3">lorial</div>
                            <div class="box-3">Macadamia</div>
                            <div class="box-3">Made4Baby</div>
                            <div class="box-3">Fog</div>

                          </div>
                          <div class="Hower_Box Odd">

                            <div class="box-h">Brand Name</div>
                            <div class="box-3">Majestic Perfume</div>
                            <div class="box-4">Made4Kids</div>
                            <div class="box-4">Carefree</div>
                            <div class="box-4">Callesta</div>
                            <div class="box-4">Candyskin</div>
                            <div class="box-4">fog</div>
                            <div class="box-4">Life-boy</div>
                            <div class="box-4">lorial</div>
                            <div class="box-4">Macadamia</div>
                            <div class="box-4">Made4Baby</div>
                            <div class="box-4">Fog</div>
                            <div class="box-4">mackly</div>
                            <div class="box-4">Magic Dust</div>
                            <div class="box-4">Macmerise</div>
                            <div class="box-4">Machismo</div>
                            <div class="box-4">Majestic Perfume</div>
                          </div>
                          <div class="Hower_Box ">
                            <div class="box-h">Brand Name</div>
                            <div class="box-5">Macadamia</div>
                            <div class="box-5">Made4Baby</div>
                            <div class="box-5">Fog</div>
                            <div class="box-5">mackly</div>
                            <div class="box-5">Magic Dust</div>
                            <div class="box-5">Macmerise</div>
                            <div class="box-5">Machismo</div>
                            <div class="box-5">Majestic Perfume</div>
                          </div>
                          <div class="Hower_Box Odd">
                            <div class="box-h">Brand Name</div>
                            <div class="box-6">Macadamia</div>
                            <div class="box-6">Garnier</div>
                            <div class="box-6">mackly</div>
                            <div class="box-6">Magic Dust</div>
                            <div class="box-6">Macmerise</div>
                            <div class="box-6">Machismo</div>
                            <div class="box-6">Majestic Perfume</div>
                            <div class="box-6">Made4Baby</div>
                            <div class="box-6">Fog</div>
                            <div class="box-6">mackly</div>
                            <div class="box-6">Magic Dust</div>
                            <div class="box-6">Macmerise</div>
                            <div class="box-6">Machismo</div>
                            <div class="box-6">Majestic Perfume</div>
                          </div>
                          <div class="Hower_Box ">
                            <div class="box-h">Brand Name</div>
                            <div class="box-7">fog</div>
                            <div class="box-7">Life-boy</div>
                            <div class="box-7">lorial</div>
                            <div class="box-7">Macadamia</div>
                            <div class="box-7">Made4Baby</div>
                            <div class="box-7">Fog</div>
                            <div class="box-7">Garnier</div>
                            <div class="box-7">mackly</div>
                            <div class="box-7">Magic Dust</div>
                            <div class="box-7">Macmerise</div>
                            <div class="box-7">Machismo</div>
                            <div class="box-7">Majestic Perfume</div>
                            <div class="box-7">Made4Kids</div>
                            <div class="box-7">Carefree</div>
                            <div class="box-7">Callesta</div>
                            <div class="box-7">Candyskin</div>
                          </div>
                        </div>
                      </div>
                      <!--testing End-->
                    </li>
                  </ul>
                  <ul class="headernav hdr">
                    <li>
                      <a href="#" class="advc">BEAUTY ADVICE</a>
                      <div class="dropdwnadvice">
                        <a href="" class="advcbox">
                          <img src="https://adn-static2.nykaa.com/media/wysiwyg/beautybook_2img.jpg" />
                          <div class="beautyadvicehead">Beauty book</div>
                          <div class="beautyadvicedes">
                            Nykaa's Digital Magazine
                          </div>
                        </a>
                        <a href="" class="advcbox">
                          <img src="https://adn-static2.nykaa.com/media/wysiwyg/megamenu/nykaatv_1_img.png" />
                          <div class="beautyadvicehead">NYKAA TV</div>
                          <div class="beautyadvicedes">
                            Masterclasses By Experts Vloggers
                          </div>
                        </a>
                        <a href="" class="advcbox">
                          <img src="https://adn-static2.nykaa.com/media/wysiwyg/2018/buyingguide_dropdowntile.jpg" />
                          <div class="beautyadvicehead">
                            BEAUTY BUYING GUIDES
                          </div>
                          <div class="beautyadvicedes">
                            So You Always Make The Right Choice
                          </div>
                        </a>
                      </div>
                    </li>
                  </ul>
                  <ul class="headernav hdr">
                    <li>
                      <a href="https://www.nykaa.com/nykaa-network/home" class="catgry">NYKAA NETWORK</a>
                      <!--just testing it-->
                      <div class="dropdwnadvice">

                        <div id="brand-main-contanar-box">
                          <div id="brand-main-left-box">
                            <input id="search-input" type="text" placeholder="Search Brand">
                            Top Brand
                            <div class="box-left">Aadvia</div>
                            <div class="box-left">Nivea</div>
                            <div class="box-left">Birbal</div>
                            <div class="box-left">Neeraj</div>
                            <div class="box-left">ponds</div>
                            <div class="box-left">Fair glow</div>
                            <div class="box-left">Fair and lovely</div>
                            <div class="box-left">Fog</div>
                            <div class="box-left">Garnier</div>
                            <div class="box-left">sagar</div>
                            <div class="box-left">Sanket</div>
                            <div class="box-left">Rani</div>
                            <div class="box-left">Suraj</div>
                            <div class="box-left">Vineet</div>
                            <div class="box-left">Pooran</div>
                            <div class="box-left">Deepak</div>
                            <div class="box-left">Sachin</div>
                            <div class="box-left">Virat</div>
                            <div class="box-left">Modi-care</div>
                            <div class="box-left">Baba Ram Dev</div>
                          </div>
                          <div id="brand-main-right-box">
                            <div class="box-right TEXT">POPULAR</div>
                            <div class="box-right TEXT">FEATURED</div>
                            <div class="box-right TEXT">ONLY NYKAA</div>
                            <div class="box-right TEXT">LAUNCHED</div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2019/Maybelline1211.png" alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/lakme_mega_menu_header.png" alt="">
                            </div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/For-Nykaa-Megamenu-New.png" alt="">
                            </div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/Header/mac.png" alt=""></div>
                            <div class="box-right  IMAGEICON" id="lorial-function"> <input name="image" type="image"
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2019/lorealparis.png"> </div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2020/BrandslogoMenubar/Huda.png"
                                alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2018/Biotique_new.png" alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2019/NATURAL-LOGO.png" alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2018/Brandslogo/LOTUS-HERBALS.png"
                                alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2019/niveaa.png" alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2018/Brandslogo/FacesCanadaa.png"
                                alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2019/Maybelline1211.png" alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2020/BrandslogoMenubar/rsvp.png"
                                alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2019/Maybelline1211.png" alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2019/Maybelline1211.png" alt=""></div>
                            <div class="box-right  IMAGEICON"><img
                                src="https://adn-static2.nykaa.com/media/wysiwyg/2018/Vaseline.png" alt=""></div>
                          </div>

                        </div>

                      </div>
                      <!--testing End-->
                    </li>
                  </ul>
                  <ul class="headernav hdr"></ul>
                </div>
                <div class="searchdiv">
                  <div class="searchbx">
                    <div class="searchcont">
                      <button class="btncs" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                      <form class="srchtxt">
                        <input type="text" placeholder="Search on Nykaa" class="srchre" />
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="acdet">
              <div class="acntsec">
                <div class="act">
                  <button type="button" class="acnbtn">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M18.9 21.5001C19.2866 21.5001 19.6 21.1867 19.6 20.8001C19.6 20.4135 19.2866 20.1001 18.9 20.1001C18.5134 20.1001 18.2 20.4135 18.2 20.8001C18.2 21.1867 18.5134 21.5001 18.9 21.5001Z"
                        fill="#001325" fill-opacity="0.92"></path>
                      <path
                        d="M15.9 21.5001C16.2866 21.5001 16.6 21.1867 16.6 20.8001C16.6 20.4135 16.2866 20.1001 15.9 20.1001C15.5134 20.1001 15.2 20.4135 15.2 20.8001C15.2 21.1867 15.5134 21.5001 15.9 21.5001Z"
                        fill="#001325" fill-opacity="0.92"></path>
                      <path
                        d="M12.9 21.5001C13.2866 21.5001 13.6 21.1867 13.6 20.8001C13.6 20.4135 13.2866 20.1001 12.9 20.1001C12.5134 20.1001 12.2 20.4135 12.2 20.8001C12.2 21.1867 12.5134 21.5001 12.9 21.5001Z"
                        fill="#001325" fill-opacity="0.92"></path>
                      <path
                        d="M12 4C12.7 4 13.3 4.2 13.8 4.7C14.3 5.2 14.5 5.9 14.5 6.6V6.7C14.5 7.4 14.3 8.2 13.8 8.7C12.8 9.7 11.2 9.7 10.2 8.7C9.69998 8.2 9.39998 7.5 9.39998 6.8V6.7C9.29998 5.3 10.3 4.1 11.7 4C11.8 4 11.9 4 12 4ZM12 2.5C9.79998 2.5 7.99998 4.3 7.99998 6.5C7.99998 6.6 7.99998 6.6 7.99998 6.7V6.8C7.89998 9 9.59998 10.9 11.8 11C11.9 11 11.9 11 12 11C13.1 11 14.1 10.6 14.9 9.8C15.7 9 16.1 7.9 16 6.8V6.6C16 5.5 15.6 4.4 14.8 3.6C14.1 2.9 13 2.5 12 2.5Z"
                        fill="#001325" fill-opacity="0.92"></path>
                      <path
                        d="M9.79999 21.5002H5.79999C5.39999 21.5002 4.99999 21.3002 4.69999 21.0002C4.39999 20.7002 4.29999 20.2002 4.39999 19.8002C4.99999 15.4002 8.99999 12.4002 13.4 13.0002C16.2 13.4002 18.6 15.2002 19.7 17.8002C19.8 18.2002 19.6 18.6002 19.2 18.8002C18.8 18.9002 18.4 18.8002 18.3 18.4002C17 15.1002 13.2 13.4002 9.89999 14.7002C7.69999 15.6002 6.09999 17.6002 5.79999 20.0002H9.79999C10.2 20.0002 10.6 20.3002 10.6 20.8002C10.6 21.3002 10.2 21.5002 9.79999 21.5002Z"
                        fill="#001325" fill-opacity="0.92"></path>
                    </svg>
                  </button>
                  <span><a class="acntxt" id="username" href="login.html">Account</a>
                    <!-- Account dropdown starts -->
                    <div class="acountdropdwnbox">
                      <ul class="acntlist">
                        <li class="listitem">
                          <div class="orderlogo">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M19 4H5C4.73478 4 4.48043 4.10536 4.29289 4.29289C4.10536 4.48043 4 4.73478 4 5V19C4 19.2652 4.10536 19.5196 4.29289 19.7071C4.48043 19.8946 4.73478 20 5 20H19C19.2652 20 19.5196 19.8946 19.7071 19.7071C19.8946 19.5196 20 19.2652 20 19V5C20 4.73478 19.8946 4.48043 19.7071 4.29289C19.5196 4.10536 19.2652 4 19 4V4ZM13.9 5.5V10.33L12.75 9.67L12 9.24L11.25 9.67L10.1 10.33V5.5H13.9ZM18.5 18.5H5.5V5.5H8.6V11.2C8.6 11.4652 8.70536 11.7196 8.89289 11.9071C9.08043 12.0946 9.33478 12.2 9.6 12.2C9.77658 12.2017 9.95001 12.1532 10.1 12.06L12 11L13.9 12.1C14.0523 12.1879 14.2251 12.2342 14.401 12.234C14.5769 12.2338 14.7496 12.1873 14.9017 12.099C15.0539 12.0108 15.18 11.884 15.2675 11.7314C15.355 11.5788 15.4007 11.4059 15.4 11.23V5.5H18.5V18.5Z"
                                fill="#001325" fill-opacity="0.92"></path>
                            </svg>
                          </div>
                          <a href="#" class="acntlink">Orders</a>
                        </li>
                        <li class="listitem">
                          <div class="orderlogo">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M12 4.2998C12.6 4.2998 13.3 4.4998 13.7 4.9998C14.2 5.4998 14.4 6.1998 14.4 6.7998V6.9998C14.4 7.6998 14.2 8.3998 13.7 8.8998C13.2 9.2998 12.6 9.5998 12 9.5998C10.7 9.5998 9.60002 8.5998 9.60002 7.1998V7.0998V6.89981C9.50002 5.59981 10.4 4.4998 11.7 4.3998C11.8 4.2998 11.9 4.2998 12 4.2998ZM12 2.7998C9.90002 2.7998 8.10002 4.4998 8.10002 6.5998C8.10002 6.6998 8.10002 6.79981 8.10002 6.89981V6.9998C8.00002 9.0998 9.70002 10.8998 11.9 10.9998H12C13.1 10.9998 14.1 10.5998 14.8 9.7998C15.5 8.9998 15.9 7.99981 15.9 6.89981V6.7998C15.9 5.6998 15.5 4.6998 14.8 3.8998C14.1 3.1998 13 2.7998 12 2.7998Z"
                                fill="#001325" fill-opacity="0.92"></path>
                              <path
                                d="M12 14.3999C15.2 14.3999 18 16.5999 18.6 19.7999H5.39998C5.99998 16.5999 8.79998 14.3999 12 14.3999ZM12 12.8999C7.79998 12.8999 4.29998 15.9999 3.79998 20.0999C3.69998 20.5999 4.09998 21.0999 4.69998 21.1999H4.79998H19.3C19.9 21.1999 20.3 20.7999 20.3 20.1999V20.0999C19.7 15.8999 16.2 12.8999 12 12.8999Z"
                                fill="#001325" fill-opacity="0.92"></path>
                            </svg>
                          </div>
                          <a href="#" class="acntlink">Profile</a>
                        </li>
                        <li class="listitem">
                          <div class="orderlogo">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <g opacity="0.92">
                                <path
                                  d="M20.5 4.40002H3.5C2.9 4.40002 2.5 4.80002 2.5 5.40002V18.6C2.5 19.2 2.9 19.6 3.5 19.6H20.5C21.1 19.6 21.5 19.2 21.5 18.6V5.40002C21.5 4.80002 21.1 4.40002 20.5 4.40002ZM20 13.6H16.5C15.6 13.6 14.9 12.9 14.9 12C14.9 11.1 15.6 10.4 16.5 10.4H20V13.6ZM16.5 8.90002C14.8 8.90002 13.4 10.3 13.4 12C13.4 13.7 14.8 15.1 16.5 15.1H20V18.1H4V5.90002H20V8.90002H16.5Z"
                                  fill="#001325" fill-opacity="0.92"></path>
                              </g>
                            </svg>
                          </div>
                          <a href="#" class="acntlink">Wallet</a>
                        </li>
                        <li class="listitem">
                          <div class="orderlogo">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <g opacity="0.92">
                                <path
                                  d="M17.3 5C18.1 5 18.8 5.3 19.4 5.7C20.9 6.9 21.1 9.1 19.8 10.5C19.7 10.6 19.7 10.7 19.6 10.7L12 18.4L4.40005 10.8C3.10005 9.5 3.10005 7.3 4.40005 5.9C4.50005 5.8 4.50005 5.8 4.60005 5.7C5.20005 5.3 6.00005 5 6.70005 5C7.70005 5 8.70005 5.4 9.40005 6.1L10.9 7.6L12 8.7L13.1 7.6L14.6 6.1C15.3 5.4 16.3 5 17.3 5ZM17.3 3.5C15.9 3.5 14.5 4.1 13.5 5.1L12 6.6L10.5 5.1C9.50005 4.1 8.10005 3.5 6.70005 3.5C5.60005 3.5 4.50005 3.9 3.60005 4.6C1.60005 6.3 1.30005 9.4 3.00005 11.5C3.10005 11.6 3.20005 11.7 3.30005 11.8L12 20.4L20.6 11.8C22.5 9.9 22.5 6.8 20.6 4.8C20.5 4.7 20.4 4.6 20.3 4.5C19.5 3.9 18.4 3.5 17.3 3.5Z"
                                  fill="#001325"></path>
                              </g>
                            </svg>
                          </div>
                          <a href="#" class="acntlink">Wishlist</a>
                        </li>
                        <li class="listitem">
                          <div class="orderlogo">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M11.9831 3.00009C11.7846 3.00319 11.5954 3.08494 11.457 3.22739C11.3187 3.36985 11.2425 3.56136 11.2453 3.75991V12.0052C11.2439 12.1045 11.2622 12.2031 11.2992 12.2953C11.3363 12.3875 11.3913 12.4714 11.461 12.5421C11.5308 12.6128 11.6139 12.669 11.7055 12.7073C11.7971 12.7457 11.8955 12.7654 11.9948 12.7654C12.0942 12.7654 12.1925 12.7457 12.2842 12.7073C12.3758 12.669 12.4589 12.6128 12.5286 12.5421C12.5984 12.4714 12.6534 12.3875 12.6904 12.2953C12.7275 12.2031 12.7458 12.1045 12.7444 12.0052V3.75991C12.7458 3.65962 12.727 3.56008 12.6892 3.46718C12.6514 3.37428 12.5954 3.28991 12.5244 3.21906C12.4534 3.14821 12.3689 3.09232 12.276 3.05471C12.183 3.0171 12.0834 2.99853 11.9831 3.00009V3.00009ZM8.24406 3.91948C8.1261 3.92127 8.01023 3.95086 7.90587 4.00586C4.99725 5.49451 3 8.51804 3 12.0052C3 16.9639 7.03608 21 11.9948 21C16.9536 21 20.9897 16.9639 20.9897 12.0052C20.9897 8.51804 18.9924 5.49451 16.0838 4.00586C15.9067 3.91539 15.701 3.89896 15.5118 3.96019C15.3227 4.02141 15.1656 4.15528 15.0751 4.33233C14.9846 4.50939 14.9682 4.71513 15.0294 4.9043C15.0906 5.09346 15.2245 5.25056 15.4016 5.34103C17.8269 6.58232 19.4905 9.08948 19.4905 12.0052C19.4905 16.1537 16.1433 19.5009 11.9948 19.5009C7.84631 19.5009 4.49914 16.1537 4.49914 12.0052C4.49914 9.08948 6.16279 6.58232 8.5881 5.34103C8.74064 5.26561 8.86299 5.14053 8.93502 4.98636C9.00705 4.83219 9.02449 4.65809 8.98446 4.4927C8.94443 4.3273 8.84932 4.18045 8.71476 4.07627C8.5802 3.9721 8.41421 3.91681 8.24406 3.91948V3.91948Z"
                                fill="#001325" fill-opacity="0.92"></path>
                            </svg>
                          </div>
                          <a href="#" class="acntlink" id="logoutclick">Logout</a>
                        </li>
                      </ul>
                    </div>
                    <!-- Account drop down end -->
                  </span>
                </div>
              </div>
              <div class="crtlg">
                <button class="cartbtn">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20.5 7.2H16.2V6.9C16.3 4.5 14.4 2.5 12 2.5C9.6 2.6 7.8 4.5 7.8 6.9V7.2H3.5C2.9 7.2 2.5 7.6 2.5 8.2V16.4C2.5 19.2 4.7 21.4 7.5 21.4H16.5C19.3 21.4 21.5 19.2 21.5 16.4V8.2C21.5 7.7 21.1 7.2 20.5 7.2ZM9.3 6.9C9.3 5.4 10.5 4.1 12 4C13.5 4.1 14.7 5.4 14.7 6.9V7.2H9.3V6.9ZM20 16.5C20 18.4 18.4 20 16.5 20H7.5C5.6 20 4 18.4 4 16.5V8.7H7.8V10.7C7.6 10.9 7.5 11.2 7.5 11.4C7.5 12 8 12.4 8.5 12.4C9 12.4 9.5 11.9 9.5 11.4C9.5 11.1 9.4 10.9 9.2 10.7V8.7H14.6V10.6C14.4 10.8 14.3 11.1 14.3 11.4C14.3 12 14.7 12.5 15.3 12.5C15.9 12.5 16.4 12.1 16.4 11.5C16.4 11.2 16.3 11 16.1 10.8V8.8H20V16.5Z"
                      fill="black"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
  <!-- header section ends here -->

  <!-- content start -->
  <!--image slider start here -->
  <div class="slider">
    <div class="slides">
      <!--radio btn start here -->
      <input type="radio" name="radio-btn" id="radio1" />
      <input type="radio" name="radio-btn" id="radio2" />
      <input type="radio" name="radio-btn" id="radio3" />
      <input type="radio" name="radio-btn" id="radio4" />
      <input type="radio" name="radio-btn" id="radio5" />
      <input type="radio" name="radio-btn" id="radio6" />
      <!--radio btn end here -->

      <!--slide img start here -->
      <div class="slide first">
        <img src="image/img1.jpg" alt="" />
      </div>

      <div class="slide">
        <img src="image/img2.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="image/lipstip.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="image/img4.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="image/img5.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="image/img6.jpg" alt="" />
      </div>
      <!--slide img end here -->

      <!--Automatic navigation start here -->
      <div class="navigation_auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
        <div class="auto-btn5"></div>
        <div class="auto-btn6"></div>
      </div>
      <!--Automatic navigation end here -->
    </div>

    <!--manual navigation start here -->
    <div class="manual-navigation">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
      <label for="radio4" class="manual-btn"></label>
      <label for="radio5" class="manual-btn"></label>
      <label for="radio6" class="manual-btn"></label>
    </div>
    <!--manual navigation end here -->
  </div>
  <!--image slider end here -->

  <!--Natural Sale Image added below -->
  <div class="horz_sale">
    <div>
      <img src="image/nat_sale.jpg" />
    </div>
  </div>
  <!--Natural Sale Image added above -->

  <!--IN THE SPOTLIGHT  added below -->
  <div id="spot_cont">
    <div id="spot_box">
      <p class="p_size">IN THE SPOTLIGHT</p>
      <div id="spot_sel">
        <div class="spot_item1 spot_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spot_off">
            <p class="p_style">Upto 15% OFF</p>
            <p>+ Free 10% Vitamin C Face Serum Worth Rs.349 On Rs.499</p>
          </div>
        </div>
        <div class="spot_item2 spot_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">Upto 30% OFF</p>
            <p>On select styles</p>
          </div>
        </div>
        <div class="spot_item3 spot_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style"></p>
            <p>High Performance Skincare</p>
          </div>
        </div>
        <div class="spot_item4 spot_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">
              Complimentary Big Date Blush On Rs.1500 +
            </p>
            <p>Buy 2 Get Extra 15% OFF | Buy 3 Get Extra 20% OFF</p>
          </div>
        </div>
        <div class="spot_item5 spot_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">
              Free Hair Styling Spray Worth Rs.575 On Rs.1299+
            </p>
            <p>Upto 10% OFF On Regimes</p>
          </div>
        </div>
        <div class="spot_item6 spot_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">
              Free 3D Face Massager On Orders Worth 699+
            </p>
            <p>Flat 15% OFF On Combos</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--IN THE SPOTLIGHT  added above -->

  <!--Beauty Bonanza  added below -->
  <div class="horz_sale B_bonanza">
    <div>
      <img src="image/beauty_bonanza.jpg" />
    </div>
  </div>
  <!--Beauty Bonanza  added above -->

  <!--SPECIAL SELECTION FOR YOU  added below -->
  <div id="spc_cont">
    <div id="spc_box">
      <p class="p_size">SPECIAL SELECTION FOR YOU</p>
      <div id="spcial_sel">
        <div class="spc_item1 spc_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">Upto 30% OFF +</p>
            <p>Free Sleeping Mask On Rs.800</p>
          </div>
        </div>
        <div class="spc_item2 spc_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">
              Pick A 10ml On Rs.1500
            </p>
            <p>+ 10ml Tonic On Rs.2250</p>
          </div>
        </div>
        <div class="spc_item3 spc_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">
              Complimentary Big Date Blush On Rs.1500 +
            </p>
            <p>Best-Selling Highlighter On Rs.2000!</p>
          </div>
        </div>
        <div class="spc_item4 spc_shodow">
          <!-- img used here as bg-image in css -->
          <div class="spec_off">
            <p class="p_style">
              Upto 55% OFF On All New Collections
            </p>
            <p>Buy 2 Get Extra 15% OFF | Buy 3 Get Extra 20% OFF</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- script for Automatic sliding -->

  <script type="text/javascript" src="script/slider_baner.js"></script>
  <script src="script/homelogin.js"></script>

  <!--SPECIAL SELECTION FOR YOU  added above -->

  <!--CATEGORY IN FOCUS img added below -->
  <div class="horz_sale">
    <p class="p_size">CATEGORY IN FOCUS</p>
    <div>
      <img src="image/cat_in_focus.jpg" />
    </div>
  </div>
  <!--CATEGORY IN FOCUS img added above -->

  <!--DISCOVER NOW added below -->
  <div id="discover_cont">
    <div id="discover_box">
      <p class="p_size">DISCOVER NOW</p>
      <div id="discover_sel">
        <div class="discover_item1 discover_shodow">
          <!-- img used here as bg-image in css -->
        </div>
        <div class="discover_item2 discover_shodow">
          <!-- img used here as bg-image in css -->
        </div>
        <div class="discover_item3 discover_shodow">
          <!-- img used here as bg-image in css -->
        </div>
        <div class="discover_item4 discover_shodow">
          <!-- img used here as bg-image in css -->
        </div>
      </div>
    </div>
  </div>

  <!--DISCOVER NOW added above -->

  <!-- content end -->

  <!--  footer start -->

  <footer>

    <!-- footer container 1 starts -->

    <div id="top1">
      <div id="cont-1">
        <div>
          <div class="IconText">
            <img src="image/mail.png" class="poster_size" alt="" />
            GET SPECIAL DISCOUNT ON YOUR INBOX
          </div>
          <form class="feedback" action="">
            <input class="input" placeholder="Your Email" type="email" />

            <button class="send-btn">SEND</button>
          </form>
        </div>

        <div>
          <div class="IconText">
            <img src="image/mobile-phone.png" class="poster_size" alt="" />
            EXPERIENCE THE NYKAA MOBILE APP
          </div>
          <div class="appStore">
            <div>
              <div>
                <img src="image/play.png" style="width: 2rem; height: 2rem" alt="" />
              </div>
              <div>
                <span class="mini-text">GET IT ON </span>
                <br />
                <span class="big-text"> Google Play</span>
              </div>
            </div>

            <div>
              <div>
                <img src="image/apple-64.png" style="width: 2rem; height: 2rem" alt="" />
              </div>
              <div>
                <span class="mini-text">Download on the </span>
                <br />
                <span class="big-text">App Store</span>
              </div>
            </div>
          </div>
        </div>

        <div class="IconText">
          <div>
            <img src="image/phone-32.png " style="width: 70%" alt="" />
          </div>
          <div>
            <div>
              FOR ANY HELP YOU MAY CALL US AT <br />
              1800-267-4444
            </div>
            <div>
              (Monday to Saturday, 8AM to 10PM and Sunday, 10AM to 7PM)
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer container 1 end -->




    <!-- footer container 2 starts -->
    <div id="top2">
      <div id="cont-2">
        <div class="links">
          <ul>
            <li>
              <img src="image/nyka_logo.png" style="width: 50%" alt="" />
            </li>
            <li><a href="#">WHO ARE WE?</a></li>
            <li><a href="">CAREERS</a></li>
            <li><a href="">AUTHENTICITY</a></li>
            <li><a href="">PRESS</a></li>
            <li><a href="">TESTIMONIALS</a></li>
            <li><a href="">NYKAA CSR</a></li>
            <li><a href="">RESPONSIBLE DISCLOSURE</a></li>
            <li><a href="">INVESTOR RELATIONS</a></li>
          </ul>
        </div>
        <div class="links">
          <ul>
            <li><a href="#">HELP</a></li>
            <li><a href="">CONTACT US</a></li>
            <li><a href="">FREQUENTLY ASKED QUESTIONS</a></li>
            <li><a href="">STORE LOCATOR</a></li>
            <li><a href="">CANCELLATION & RETURN</a></li>
            <li><a href="">SELL ON NYKAA</a></li>
          </ul>
        </div>
        <div class="links">
          <ul>
            <li><a href="#">INSPIRE ME</a></li>
            <li><a href="">BEAUTY BOOK</a></li>
            <li><a href="">NYKAA TV</a></li>
            <li><a href="">NYKAA NETWORK</a></li>
            <li><a href="">BUYING GUIDES</a></li>
          </ul>
        </div>
        <div class="links">
          <ul>
            <li><a href="#">QUICK LINKS</a></li>
            <li><a href="">OFFER ZONE</a></li>
            <li><a href="">NEW LAUNCHES</a></li>
            <li><a href="">NYKAA MAN</a></li>
            <li><a href="">NYKAA FASHION</a></li>
            <li><a href="">NYKAA FEMINA BEAUTY AWARDS WINNERS 2019</a></li>
            <li><a href="">SITEMAP </a></li>
          </ul>
        </div>
        <div class="links">
          <ul>
            <li><a href="#">TOP CATEGORIES</a></li>
            <li><a href="">MAKEUP</a></li>
            <li><a href="">SKIN</a></li>
            <li><a href="">HAIR</a></li>
            <li><a href="">PERSONAL CARE</a></li>
            <li><a href="">APPLIANCES</a></li>
            <li><a href="">MOM AND BABY</a></li>
            <li><a href="">WELLNESS</a></li>
            <li><a href="">FRAGRANCE</a></li>
            <li><a href="">NATURAL</a></li>
            <li><a href="">LUXE</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- footer container 2 end -->


    <!-- footer container 3 starts -->

    <div id="top3">
      <div id="cont-3">
        <div class="cont3_divs">
          <div class="icon">
            <img src=" https://adn-static2.nykaa.com/media/wysiwyg/2020/9sep/BrandsCount.svg" alt="" />
          </div>
          <div class="content">
            <div>2400 BRANDS</div>
            <div>Well Curated 1.9Lakh+ Product</div>
          </div>
        </div>
        <div class="cont3_divs">
          <div class="icon">
            <img src="	https://adn-static2.nykaa.com/media/wysiwyg/2020/9sep/FreeShipping.svg" alt="" />
          </div>
          <div class="content">
            <div>FREE SHIPPING</div>
            <div>for orders above INR500</div>
          </div>
        </div>
        <div class="cont3_divs">
          <div class="icon">
            <img src="https://adn-static2.nykaa.com/media/wysiwyg/2020/9sep/GenuineProducts.svg" alt="" />
          </div>
          <div class="content">
            <div>GENUINE PRODUCT</div>
            <div>sourced directly from brands</div>
          </div>
        </div>
        <div class="cont3_last_div">
          <div>SHOW SOME LOVE  FOR SOCIAL MEDIA</div>
          <div class="last-icons">
            <img src="	https://images-static.naikaa.com/media/wysiwyg/2021/icons/ic_social-instagram-filled.svg"
              alt="" />
            <img src="https://images-static.naikaa.com/media/wysiwyg/2021/icons/ic_social-facebook-filled.svg" alt="" />
            <img src="https://images-static.naikaa.com/media/wysiwyg/2021/icons/ic_social-youtube-filled.svg" alt="" />
            <img src="	https://images-static.naikaa.com/media/wysiwyg/2021/icons/ic_social-twitter-filled.svg" alt="" />
            <img src="https://images-static.naikaa.com/media/wysiwyg/2021/icons/ic_social-pinterest-filled.svg"
              alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- footer container 3 end -->

    <!-- footer container 4 starts -->

    <div id="cont-4">
      <div class="c-4-links">
        <a href="">TERMS AND CONDITIONS</a>
        <a href="">SHIPPING POLICY</a>
        <a href="">CANCELATION POLICY</a>
        <a href="">PRIVACY POLICY</a>
      </div>

      <div>
        <p>2021 Nykaa E-Retail Pvt Ltd. All Rights Reserved.</p>
      </div>

  </footer>