<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Bag</title>
    <link rel="icon" href="image/favicon.ico" />
    <link rel="stylesheet" href="styles/L_cart.css">

</head>

<body>
    <div id="main">
        <div id="cart_div">
            <div id="cart_head">Shopping Bag</div>
            <div id="cart_item">

            </div>

        </div>
        <div id="price_detail">
            <div id="nyka-add-30">
                <img src="https://cdn.static-zoutons.com/images/originals/blog/NykaaUpcomingSales202108_1626787138.png"
                    alt="">
            </div>
            <div id="coupon-div">
                <p class="p_apply_coupon">APPLY COUPON</p>
                <input type="text" id="code" placeholder="Enter Your Promo Code here">

                <button class="apply_btn" onclick="discount_30()">APPLY</button>
            </div>


            <div id="price_head">PRICE DETAILS :-</div>
            <div id="total_d">

                <div id="div_b_total">
                    <p>Bag Total -</p>
                    <p id="p_b_total">1</p>
                </div>

                <div id="div_b_discount">
                    <p>Bag Discount -</p>
                    <p id="p_b_discount">2</p>
                </div>

                <div id="div_s_total">
                    <p>Sub total -</p>
                    <p id="p_s_total">3</p>
                </div>

                <div id="shiping_div">
                    <p>Shipping Charges -</p>
                    <p id="p_shipping"></p>
                </div>

                <div id="g_total_div">
                    <p>Grand Total -</p>
                    <p id="p_g_total">4</p>
                </div>
            </div>

            <button id="checkOut"><a class="place_order_link" href="address.html">PLACE ORDER </a></button>
        </div>


        <script src="script/L_cart.js"></script>
        <script src="script/address1.js"></script>
</body>

</html>