<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Nykaa</title>
  <link rel="icon" href="image/favicon.ico" />
    <link rel="stylesheet" href="styles/login.css">
</head>

<body>
    <div class="container">
        <div class="loginbox">
            <div class="box">
                <button class="closebtn" type="button">X</button>
                <div class="boxcontent">
                    <h2 class="heading">Sign in</h2>
                    <p class="logintext">To quickly find your favourites items, saved addresses and
                        payments.</p>
                    <p class="login-text">Register and earn 2000 reward points</p>
                    <div class="imgbox">
                         <img src="image/loginimggft.jpg" alt="giftbox"> 
                    </div>
                    <div class="phnsec">
                        <a href="login1.html"><input type="email" placeholder="Enter Phone Number or Email" class="inputbx"></a>
                    </div>
                    <div class="googl">
                        <div class="glogo">
                            <img src="https://s4827.pcdn.co/wp-content/uploads/2018/04/Google-logo-2015-G-icon.png"
                                alt="google logo" > 
                            <span class="loginbtn"><a href="index.html">Google</a></span>
                        </div>
                    </div>
                    <p class="loginote">By continuing, you agree that you have read and accept our</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>