<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Nykaa</title>
  <link rel="icon" href="image/favicon.ico" />
    <link rel="stylesheet" href="styles/login1.css">
</head>
<body>
    <div class="loginbox">
        <section class="sectn">
            <header class="heading">
                <button class="closebtn" type="button">X</button>LOGIN / REGISTER
            </header>
            <div class="content">
                <form id="form">
                    <div>
                        <input placeholder="Enter Email ID or Phone Number" name="Number" class="input text">
                        <span class="required">Required</span>
                    </div>
                    <div class="butn">
                        <button type="submit" class="btnclick" id="loginbtn"><a href="login2.html">Proceed</a></button>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <script src="script/login1.js"></script>
</body>
</html>