<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nykaa</title>
  <link rel="icon" href="image/favicon.ico" />
   <link rel="stylesheet" href="styles/thankYou.css">
   
</head>
<body>
    <div>
    <h1 style="text-align: center">Thanks for Purchasing</h1>
     <a href="index.html"><img id="del"   src="image/nyka.png" alt=""></a>
    <img id="thank" src="image\ThankYou image.png" alt="">

    
   
    </div>
</body>
</html>

